doctype html
html(lang="en")
  head
    title= title

    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="stylesheet", href="/assets/angular-material/angular-material.min.css")

    script(src='/assets/angular/angular.min.js')
    script(src="/assets/angular-animate/angular-animate.min.js")
    script(src="/assets/angular-aria/angular-aria.min.js")
    script(src="/assets/angular-messages/angular-messages.min.js")
    script(src="/assets/angular-material/angular-material.min.js")

    script(src='/assets/angular-ui-router/release/angular-ui-router.js')

    script(src='/javascripts/router.js')
    script(src="/javascripts/controllers/mainController.js")
  body(ng-app="example")
    block content
